html {
  box-sizing: border-box;
  font-size: 16px;

  @include bp(sm) {
    font-size: 17px;
  }

  @include bp(md) {
    font-size: 18px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.75;
}

.container {
  margin: 0 auto;
  width: 90%;

  header {
    margin-bottom: 5rem;
  }

  @include bp(sm) {
    width: 70%;
  }
}

.grid {
  display: flex;
  flex-direction: column;

  @include bp(sm) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.icon {
  display: inline-block;
  color: $color-primary;
  font-size: 3rem;
  text-align: center;
}
