a {
  text-decoration: none;
  color: white;

  &:hover {
    border-bottom: 1px solid white;
  }
}


button {
  border: 0;
  background-color: $color-primary;
  cursor: pointer;
  color: white;

  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

section {
  min-height: 100vh;
  padding: 5rem 0;

  header {
    text-align: center;

    .lead {
      margin-top: 1rem;
    }

    &:after {
      content: ' ';
      display: block;
      width: 20%;
      margin: 2rem auto;
      border-bottom: 1.5px solid $color-primary;
    }
  }
}

h1,
h2 {
  letter-spacing: 2px;
}

h1 {
  font-size: 2.8rem
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

.lead {
  line-height: 2;
}

ul {
  list-style: none;
}

.text-center {
  text-align: center;
}
