@mixin bp($class) {
  @if $class == xs {
    @media screen and (max-width: 767px) { @content; }
  }

  @else if $class == sm {
    @media screen and (min-width: 600px) { @content; }
  }

  @else if $class == md {
    @media screen and (min-width: 900px) { @content; }
  }

  @else if $class == lg {
    @media screen and (min-width: 1200px) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
