section.features#about
  .container
    header
      h2 Features and Services
      p.lead Fusce sagittis, libero non molestie mollis, magna orci ultrices dolor, at vulputate neque nulla lacinia eros. Vivamus id enim.  Sed diam.
    ul.grid
      li
        i.fa.fa-camera-retro.icon(aria-hidden="true")
        h3 Photography
        p Curabitur lacinia pulvinar nibh.  Nunc rutrum turpis sed pede.  Nullam rutrum.
      li
        i.fa.fa-cubes.icon(aria-hidden="true")
        h3 Web Development
        p Donec pretium posuere tellus.  Phasellus neque orci, porta a, aliquet quis, semper a, massa.  Nunc eleifend leo vitae magna
      li
        i.fa.fa-newspaper.icon(aria-hidden="true")
        h3 Content Editing
        p Fusce sagittis, libero non molestie mollis, magna orci ultrices dolor, at vulputate neque nulla lacinia eros.  Nullam tempus.  Donec at pede.
