footer
  .container
    .social-icons
      i.fab.fa-twitter-square.icon
      i.fab.fa-facebook-square.icon
      i.fab.fa-snapchat-square.icon
      i.fab.fa-pinterest-square.icon
      i.fab.fa-github-square.icon
    .container__body
      p MADE BY MO KWEON. IMAGES COURTESY TO UNSPLASH.
      p NO ATTRIBUTION REQUIRED. YOU CAN REMOVE THIS FOOTER.
