section.nav
  .container
    nav
      .logo
        a(href="#") Mountain Tour
      ul.menu
        li #[a(href="#tours") Tours]
        li #[a(href="#about") About]
        li #[a(href="#contact") Contact Us]
