section.newsletter#contact
  .container
    header
      h2 Join Our Network
      p.lead Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.

    .container__body
      form.subscribe
        input(type="email" placeholder="Email").subscribe__email
        button.subscribe__submit Subscribe Now
