section.showoff#tours
  .container
    header
      h2 Our Tours
      p.lead Nullam eu ante vel est convallis dignissim.  Fusce suscipit, wisi nec facilisis facilisis, est dui fermentum leo, quis tempor ligula erat quis odio.  Nunc porta vulputate tellus.  Nunc rutrum turpis sed pede.  Sed bibendum
    .container__body
      .img1
        img(src=require("../../assets/mountain1.jpg") alt="Mountain 1")
      .img2
        img(src=require("../../assets/mountain2.jpg") alt="Mountain 2")
      .img3
        img(src=require("../../assets/mountain3.jpg") alt="Mountain 3")
      .img4
        img(src=require("../../assets/mountain4.jpg") alt="Mountain 4")
