doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="style.css" rel="stylesheet")
    title Mountain Travel
  body
    include section/nav.pug
    include section/header.pug
    include section/showoff.pug
    include section/features.pug
    include section/reviews.pug
    include section/newsletter.pug
    include section/footer.pug
