.grid {

  li {
    flex: 1 1 auto;
    * {
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.1rem;
    }

    @include bp(sm) {
      flex: 0 1 30%;
    }
  }
  text-align: center;
}


.features {
  background-color: $color-gray;
  color: $color-light-black;
}
