footer {
  color: $color-dark-white;
  background-color: $color-footer;
  padding: 5rem;

  .container__body {
    font-size: .8rem;
    line-height: 1;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;

  .icon {
    font-size: 1.5rem;
    margin: 0 1rem;
    color: $color-dark-white;

    &:hover {
      color: white;
    }
  }
}
