.header {
  background-image: url('../assets/main.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
  }

  header {
    opacity: 0;
    margin-top: 3rem;
    animation: 1s slidefadein 0.5s forwards;
    color: white;
    text-align: center;

    h1 {
      font-size: 3.85rem;
    }

    .lead {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    button {
      padding: 1.1rem 2rem;
      font-weight: 600;
      font-size: 1.1rem;
    }

    &:after {
      border: 0;
    }
  }
}
