.nav {
  position: absolute;
  padding: 0;
  top: 1rem;
  width: 100%;
  opacity: 0;
  animation: 0.5s fadein .5s forwards;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

nav {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

  @include bp(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  flex: 2 1 auto;
}

.menu {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
  list-style: none;

  @include bp(md) {
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 10vw;
  }

  li a {
    white-space: nowrap;
  }
}
