.newsletter {
  background-color: $color-gray;
  color: $color-light-black;
  min-height: 0;
}

.subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-content: space-around;
  align-items: space-around;

  @include bp(md) {
    width: 60%;
  }
}

.subscribe__email {
  flex: 0 1 100%;
  font-size: 1.2rem;
  padding: .5rem;
  margin-bottom: 2rem;
  font-family: $font-primary;


  @include bp(md) {
    flex: 1 1 60%;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

.subscribe__submit {
  flex: 0 1 50%;
  font-size: 1rem;
  padding: 1rem;
  white-space: nowrap;
  text-transform: uppercase;

  @include bp(md) {
    flex: 0 1 30%;
  }
}
