.reviews {
  color: $color-light-black;
  header {
    margin-bottom: 1rem;
    &:after {
      border: 0;
    }
  }

  .container {
    width: 50%;
  }
}

.quote {
  font-size: 1.2rem;
}

.author {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
