.container__body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  * {
    padding: 0.5rem;
  }

  img {
    height: 18rem;
    width: 100%;

    @include bp(md) {
      height: 18rem;
    }
  }

  // image grid
  .img1,
  .img4 {
    flex-basis: 100%;

    @include bp(md) {
      flex-basis: 40%;
    }
  }

  .img2,
  .img3 {
    flex-basis: 100%;

    @include bp(md) {
      flex-basis: 60%;
    }
  }
}
